 <nav class="navbar">
    
    <%
=begin%>
 <%= link_to "首頁", root_path %> 
<%
=end%>
 <a class="logo" href="/">
      <%= image_pack_tag "logo.png" %>
    </a>
  <ul>
  <li>
    <%= link_to "註冊", sign_up_user_path %>
  </li>
  <li>
    <%= link_to "登入", '' %>
  </li>
  <li>
    <%= link_to "履歷列表", resumes_path %>
  </li>
  <li>
    <%= link_to "關於", about_path %>
  </li>
  <li>
    <%= link_to "聯絡", contact_path %>
  </li>
  </ul>


  </nav>